API_ID=
API_HASH=
AUTO_LEAVING_ASSISTANT=True
BOT_TOKEN=
DURATION_LIMIT=500
MONGO_DB_URI=mongodb+srv://gratis:gratis@cluster0.dsbrldf.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID=-1001735372803                                                          
MUSIC_BOT_NAME=Niskala 
OWNER_ID=2067434944
STRING_SESSION1=
STRING_SESSION2=
STRING_SESSION3=
UPSTREAM_BRANCH=main                                                                    
UPSTREAM_REPO=https://github.com/Rzydx/PrimeMusic
