API_ID=27586483
API_HASH=2b76ae7637c616104417ef44cfefbe1f
AUTO_LEAVING_ASSISTANT=True
BOT_TOKEN=
DURATION_LIMIT=5000
MONGO_DB_URI=mongodb+srv://zu:zu@cluster0.ibjdxb9.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID=-1001735372803
MUSIC_BOT_NAME=Niskala x Robot
OWNER_ID=1338853808
STRING_SESSION1=
STRING_SESSION2=
STRING_SESSION3=
UPSTREAM_BRANCH=main
UPSTREAM_REPO=https://github.com/Rzydx/PrimeMusic
